*{
   /* border: 1px solid red; */
}
#content{
    
    
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#part{
        left: 0;
    right: 0;
    margin: auto;
    border: 1px solid red;
    overflow:auto;
    width: 1500px;
    height: auto;

}

#paragraph{
    text-align: left;
    font-size: 20px;
    float:left;
    left: 0;
    right: 0;
    margin: auto;
    width: 370px;
}

.picture{
    width: 500px;
    height: auto;

}
figure {
    display: inline-block;
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}
#route{

}
#poster{
    
    float: right;
}